<template>
  <button
    class="shape"
    :style="{ top: coordinateY + 'px', left: coordinateX + 'px' }"
    @keydown.left="clickLeftArrow"
    @keydown.right="clickRightArrow"
    ref="shape"
  >
    <div class="wrapper" :class="shapeType" :style="cssVars">{{ weight }}</div>
  </button>
</template>

<script>
export default {
  name: 'shape',
  props: {
    shapeType: String,
    weight: Number,
    color: String,
    side: String
  },
  data() {
    return {
      coordinateX: 0,
      coordinateY: 0
    }
  },
  computed: {
    cssVars() {
      return {
        '--bg-color': this.color,
        '--height': this.weight * 10 + 'px',
        '--width': this.weight * 10 + 'px',
        '--border-width': `0 ${this.weight * 10 / 2}px ${this.weight * 10}px ${this.weight * 10 / 2}px`,
      }
    }
    // setCoordinate() {
    // 	return `top: ${this.coordinateY}`;
    // }
  },
  updated() {
    // this.coordinateY += 10;
  },
  mounted() {
    setInterval(() => {
      if (this.coordinateY + 10 <= 668)
        this.coordinateY += 10;
    }, 500);
    this.$refs.shape.focus();
  },
  methods: {
    clickLeftArrow() {
      if (this.coordinateX - 10 >= 0) {
        this.coordinateX -= 10;
      }
    },
    clickRightArrow() {
      this.$store.commit('addLeftSideShape', this.$refs.shape);
      if (this.coordinateX + 10 <= 500) {
        this.coordinateX += 10;
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .shape {
    position: absolute;
    transition: top 1s ease-out;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
  .shape:focus {
    border: none;
    outline: none;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    background: var(--bg-color);
    width: var(--width);
    height: var(--height);
  }
  .circle {
    border-radius: 50%;
  }
  .triangle {
    width: 0;
    height: 0;
    background: none;
    border-style: solid;
    border-width: var(--border-width);
    border-color: transparent transparent var(--bg-color) transparent;
  }
</style>
