<template>
  <div id="app">
    <shape
      :weight="generateShapeWeight()"
      :shape-type="generateShapeType()"
      :color="generateShapeColor()"
    ></shape>
    <!-- <div id="basis"></div> -->
  </div>
</template>

<script>

import shape from './components/shape.vue'

export default {
  name: 'App',
  components: {
    shape
  },
  methods: {
    generateShapeType() {
      let value = Math.floor(Math.random() * (2 - 0 + 1)) + 0;
      switch (value) {
        case 0:
          return "triangle";
        case 1:
          return "circle";
        case 2:
          return "square";
      }
    },
    generateShapeColor() {
      let value = Math.floor(Math.random() * (2 - 0 + 1)) + 0;
      switch (value) {
        case 0:
          return "yellow";
        case 1:
          return "aqua";
        case 2:
          return "orange";
      }
    },
    generateShapeWeight() {
      return Math.floor(Math.random() * (10 - 1 + 1)) + 1;
    },
  },
}
</script>

<style>
  #app {
    width: 1000px;
    margin: 0 auto;
    height: 768px;
    position: relative;
    overflow: hidden;
  }

  #basis {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #007bff transparent;
  }
</style>
